/*
|--------------------------------------------------------------------------
| App CSS
|--------------------------------------------------------------------------
|
| Put any custom CSS in this file, and it will be loaded on every page,
| following Waterhole's default CSS. To discover more variables and
| classes you might like to override, read about Waterhole's design system:
|
| https://waterhole.dev/docs/design/overview
|
*/

:root {
    /* Main accent color */
    --palette-accent-h: 132;
    --palette-accent-s: 100%;
    --palette-accent-l: 28%;
}

[data-theme='light'] {
    /* Interface colors in light mode */
    --palette-bg-hsl: 235 38% 97%;
    --palette-surface-hsl: 0 100% 100%;
    --palette-text-hsl: 0 0% 0%;
    --palette-muted-hsl: 0 0% 18%;
}

[data-theme='dark'] {
    /* Interface colors in dark mode */
    --palette-bg-hsl: 210, 29%, 16%;
    --palette-surface-hsl: 210, 29%, 13%;
    --palette-text-hsl: 0 0% 100%;
    --palette-muted-hsl: 0 0% 92%;
}
